name: "Lint & Test"

on:
  push:

jobs:
  lint-and-format:
    name: "Lint & Format"
    runs-on: "ubuntu-latest"
    steps:
      # Checkout the repository
      - &checkout
        name: "Checkout the repository"
        uses: "actions/checkout@v6.0.2"
      # Install uv and sync dependencies
      - &setup-uv
        name: "Set up uv"
        uses: "astral-sh/setup-uv@v7"
        with:
          python-version: "3.13"
          enable-cache: true
      - &install-dependencies
        name: "Install dependencies"
        run: uv sync --all-groups
      # Run linter
      - name: "Lint"
        run: uv run ruff check .
      # Run formatter in check mode
      - name: "Format"
        run: uv run ruff format . --check

  unit-test:
    name: "Unit Test"
    runs-on: "ubuntu-latest"
    steps:
      # Checkout the repository
      - *checkout
      # Install uv and sync dependencies
      - *setup-uv
      - *install-dependencies
      # Run tests with coverage
      - name: "Run pytest"
        run: uv run pytest --cov=src --cov-report=html:tests/coverage --cov-report=xml:tests/coverage.xml --cov-report=term-missing --cov-branch
      # Upload coverage reports to Codecov
      - name: "Upload coverage reports to Codecov"
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  mutation-test:
    name: "Mutation Test"
    runs-on: "ubuntu-latest"
    steps:
      # Checkout the repository
      - *checkout
      # Install uv and sync dependencies
      - *setup-uv
      - *install-dependencies
      # Run mutation tests
      - name: "Run mutmut (mutation tests)"
        env:
          MPLBACKEND: Agg
          PYTHONPATH: "${{ github.workspace }}/src"
        run: uv run mutmut run
      # Show mutmut results
      - name: "Show mutmut results"
        run: uv run mutmut results
